{% load wagtailsettings_tags %}
{% get_settings %}
{% load static %}
{% load wagtailuserbar %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" />
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'web/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/lightbox/lightbox.min.css' %}" type="text/css">
  </head>
  <body class="m-0 p-0 ">
    <div class="min-h-screen bg-white">
      <header class="relative">
        <div class="bg-warm-gray-50">
          <nav class="relative max-w-7xl mx-auto flex items-center justify-between pb-12 pt-6 px-6 xl:px-8" aria-label="Global">
            <div class="flex items-center flex-1">
              <div class="flex items-center justify-between w-full lg:w-auto">
                <a href="{{ home_page.url }}">
                  <span class="sr-only">Home</span>
                  <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=teal&shade=500" alt="">
                </a>
                <div class="-mr-2 flex items-center lg:hidden">
                  <button type="button" class="bg-warm-gray-50 rounded-md p-2 inline-flex items-center justify-center text-warm-gray-400 hover:bg-warm-gray-100 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-teal-500" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="hidden space-x-10 lg:flex lg:ml-10">
                {% for menu in site_menu %}
                  {% if request.get_full_path == menu.url %}
                  {% else %}
                    <a href="{{ menu.url }}" class="text-base font-medium text-warm-gray-500 hover:text-warm-gray-900">{{menu.title}}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </nav>
        </div>

        <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
        <div class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top lg:hidden">
          <div class="rounded-lg shadow-lg bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="px-5 pt-4 flex items-center justify-between">
              <div>
                <a href="{{ home_page.url }}">
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=teal&shade=500" alt="">
                </a>
              </div>
              <div class="-mr-2">
                <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-warm-gray-400 hover:bg-warm-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-500">
                  <span class="sr-only">Close menu</span>
                  <!-- Heroicon name: outline/x -->
                  {% comment %}
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                  {% endcomment%}
                </button>
              </div>
            </div>
            <div class="pt-5 pb-6">
              <div class="px-2 space-y-1">
                {% for menu in site_menu %}
                  {% if request.get_full_path == menu.url %}
                  {% else %}
                    <a href="{{ menu.url }}" class="block px-3 py-2 rounded-md text-base font-medium text-warm-gray-900 hover:bg-warm-gray-50">{{menu.title}}</a>
                  {% endif %}
                {% endfor %}

              </div>

            </div>
          </div>
        </header>

        {% block main %} {% endblock main %}
        {% block absolute_image %} {% endblock absolute_image %}
        <!-- This example requires Tailwind CSS v2.0+ -->
        <footer class="bg-white">
          <div class="max-w-7xl mx-auto py-6 px-4 overflow-hidden sm:px-6 lg:px-8">
            <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
              {% if request.get_full_path == home_page.url %}
              {% else %}
                <div class="px-5 py-2">
                  <a href="{{ home_page.url }}" class="text-base text-gray-500 hover:text-gray-900">Home</a>
                </div>
              {% endif %}
              {% for menu in site_menu %}
                {% if request.get_full_path == menu.url %}
                {% else %}
                  <div class="px-5 py-2">
                    <a href="{{ menu.url }}" class="text-base text-gray-500 hover:text-gray-900">{{menu.title}}</a>
                  </div>
                {% endif %}
              {% endfor %}
              <div class="px-5 py-2">
                {% if user.is_authenticated %}
                <a href="/cms/logout/" class="text-base text-gray-500 hover:text-gray-900">Log off</a>
                {% else %}
                <a href="/cms/" class="text-base text-gray-500 hover:text-gray-900">Login</a>
                {% endif %}
              </div>
            </nav>
            <div class="mt-8 flex justify-center space-x-6">
              {% if settings.web.FooterSettings.facebook %}
                <a href="{{ settings.web.FooterSettings.facebook }}" class="text-gray-400 hover:text-gray-500" rel="noopener noreferrer" target="_blank">
                  <span class="sr-only">
                    Facebook
                  </span>
                  <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
                  </svg>
                </a>
              {% endif %}
              {% if settings.web.FooterSettings.instagram %}
                <a href="{{ settings.web.FooterSettings.instagram }}" class="text-gray-400 hover:text-gray-500" rel="noopener noreferrer" target="_blank">
                  <span class="sr-only">Instagram</span>
                  <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
                  </svg>
                </a>
              {% endif %}
              {% if settings.web.FooterSettings.twitter %}
                <a href="{{ settings.web.FooterSettings.twitter }}" class="text-gray-400 hover:text-gray-500" rel="noopener noreferrer" target="_blank">
                  <span class="sr-only">Twitter</span>
                  <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                  </svg>
                </a>
              {% endif %}
              {% if settings.web.FooterSettings.linkedin %}
                <a href="{{ settings.web.FooterSettings.linkedin }}" class="text-gray-400 hover:text-gray-500" rel="noopener noreferrer" target="_blank">
                  <span class="sr-only">LinkedIn</span>
                  <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 600 600" aria-hidden="true">
                    <path d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683 C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615 c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915 s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"/>
                  </svg>
                </a>
              {% endif %}
            </div>
            <p class="mt-8 text-center text-base text-gray-400">
              {% if settings.web.FooterSettings.company_name %}
                &copy;  {% now "Y" %} {{ settings.web.FooterSettings.company_name }}, Inc. All rights reserved.
              {% else %}
                &copy;  {% now "Y" %} Inc. All rights reserved.
              {% endif %}
            </p>
          </div>
        </footer>
      </div>
      <script src="{% static 'vendor/js/jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'vendor/js/lightbox/lightbox.min.js' %}"></script>
    </body>
    {% wagtailuserbar %}
  </html>
