{% extends 'web/base.html' %}
{% load static %}
{% load wagtailcore_tags %}

{% block main %}
  <main class="mx-auto max-w-7xl px-4 sm:px-6">

    {% if enquiry %}
      <div class="bg-teal-700">
        <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block">
              {{ page.thankyou }}
            </span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-teal-200">{{ page.description }}</p>
          <a href="{% pageurl page.page %}" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-teal-600 bg-white hover:bg-teal-50 sm:w-auto">
            {{ page.page_name }}
          </a>
        </div>
      </div>

    {% else %}

      <div class="bg-gray-100">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
          <div class="relative bg-white shadow-xl">
            <h2 class="sr-only">Contact us</h2>

            <div class="grid grid-cols-1 lg:grid-cols-3">
              <!-- Contact information -->
              <div class="relative overflow-hidden py-10 px-6 bg-teal-700 sm:px-10 xl:p-12">
                <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                  <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
                    <defs>
                      <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
                  <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
                    <defs>
                      <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
                  <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
                    <defs>
                      <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <h3 class="text-lg font-medium text-white">{{ self.maintitle }}</h3>
                <p class="mt-6 text-base text-teal-50 max-w-3xl">{{ self.maindescription }}</p>
                <dl class="mt-8 space-y-6">
                  <dt><span class="sr-only">Phone number</span></dt>
                  <dd class="flex text-base text-teal-50">
                    <!-- Heroicon name: outline/phone -->
                    <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                    </svg>
                    <span class="ml-3">{{ self.phonenumber }}</span>
                  </dd>
                  <dt><span class="sr-only">Email</span></dt>
                  <dd class="flex text-base text-teal-50">
                    <!-- Heroicon name: outline/mail -->
                    <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                    <span class="ml-3">{{ self.email }}</span>
                  </dd>
                </dl>
                <ul class="mt-8 flex space-x-12" role="list">
                  {% if settings.web.FooterSettings.facebook %}
                    <li>
                      <a class="text-teal-200 hover:text-teal-100" href="#">
                        <span class="sr-only">Facebook</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" aria-hidden="true">
                          <path d="M22.258 1H2.242C1.556 1 1 1.556 1 2.242v20.016c0 .686.556 1.242 1.242 1.242h10.776v-8.713h-2.932V11.39h2.932V8.887c0-2.906 1.775-4.489 4.367-4.489 1.242 0 2.31.093 2.62.134v3.037l-1.797.001c-1.41 0-1.683.67-1.683 1.653v2.168h3.362l-.438 3.396h-2.924V23.5h5.733c.686 0 1.242-.556 1.242-1.242V2.242C23.5 1.556 22.944 1 22.258 1" fill="currentColor" />
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.web.FooterSettings.twitter %}
                    <li>
                      <a class="text-teal-200 hover:text-teal-100" href="#">
                        <span class="sr-only">Twitter</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" aria-hidden="true">
                          <path d="M7.548 22.501c9.056 0 14.01-7.503 14.01-14.01 0-.213 0-.425-.015-.636A10.02 10.02 0 0024 5.305a9.828 9.828 0 01-2.828.776 4.94 4.94 0 002.165-2.724 9.867 9.867 0 01-3.127 1.195 4.929 4.929 0 00-8.391 4.491A13.98 13.98 0 011.67 3.9a4.928 4.928 0 001.525 6.573A4.887 4.887 0 01.96 9.855v.063a4.926 4.926 0 003.95 4.827 4.917 4.917 0 01-2.223.084 4.93 4.93 0 004.6 3.42A9.88 9.88 0 010 20.289a13.941 13.941 0 007.548 2.209" fill="currentColor" />
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.web.FooterSettings.instagram %}
                    <li>
                      <a class="text-teal-200 hover:text-teal-100" href="#">
                        <span class="sr-only">Instagram</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" fill="currentColor" /></svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.web.FooterSettings.linkedin %}
                    <li>
                      <a class="text-teal-200 hover:text-teal-100" href="#">
                        <span class="sr-only">LinkedIn</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 600 600" aria-hidden="true">
                          <path d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683 C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615 c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915 s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"/>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>

              <!-- Contact form -->
              <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                <h3 class="text-lg font-medium text-gray-900">{{ self.mainmessage }}</h3>
                <form action="." method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                  {% csrf_token %}
                  <div class="sm:col-span-2">
                    <div class="flex justify-between">
                      <label
                        for="{{ form.name.id_for_label }}"
                        class="block text-sm font-medium text-gray-900">
                        {{ form.name.label }}
                      </label>
                      <span class="text-sm font-medium text-red-600">
                        {{ form.name.errors }}
                      </span>
                    </div>
                    <div class="mt-1">
                      <input
                        id="{{ form.name.auto_id }}"
                        name="{{ form.name.name }}"
                        type="{{ form.name.widget_type }}"
                        value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
                        class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-teal-500 focus:border-teal-500 border-gray-300 rounded-md"
                      >
                    </div>
                  </div>
                  <div>
                    <div class="flex justify-between">
                      <label
                        for="{{ form.email.id_for_label }}"
                        class="block text-sm font-medium text-gray-900">
                        {{ form.email.label }}
                      </label>
                      <span class="text-sm font-medium text-red-600">
                        {{ form.email.errors }}
                      </span>
                    </div>
                    <div class="mt-1">
                      <input
                        id="{{ form.email.auto_id }}"
                        name="{{ form.email.name }}"
                        type="{{ form.email.widget_type }}"
                        value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                        autocomplete="email"
                        class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-teal-500 focus:border-teal-500 border-gray-300 rounded-md"
                      >
                    </div>
                  </div>
                  <div>
                    <div class="flex justify-between">
                      <label
                        for="{{ form.phone.id_for_label }}"
                        class="block text-sm font-medium text-gray-900">
                        {{ form.phone.label }}
                      </label>
                      <span class="text-sm font-medium text-red-600">
                        {{ form.phone.errors }}
                      </span>
                    </div>
                    <div class="mt-1">
                      <input
                        id="{{ form.phone.auto_id }}"
                        name="{{ form.phone.name }}"
                        type="{{ form.phone.widget_type }}"
                        value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"
                        autocomplete="tel"
                        class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-teal-500 focus:border-teal-500 border-gray-300 rounded-md" aria-describedby="phone-optional"
                      >
                    </div>
                  </div>
                  <div class="sm:col-span-2">
                    <div class="flex justify-between">
                      <label
                        for="{{ form.description.id_for_label }}"
                        class="block text-sm font-medium text-gray-900">
                        {{ form.description.label }}
                      </label>
                      <span class="text-sm font-medium text-red-600">
                        {{ form.description.errors }}
                      </span>
                    </div>
                    <div class="mt-1">
                      <textarea
                        id="{{ form.description.auto_id }}"
                        name="{{ form.description.name }}"
                        rows="4"
                        class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-teal-500 focus:border-teal-500 border-gray-300 rounded-md" aria-describedby="message-max"
                      >{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                    </div>
                  </div>
                  {% if form.consent_checkbox %}
                    <div class="sm:col-span-2">
                      {% if form.consent_checkbox.errors %}
                        <div class="pb-4">
                          <span class="text-sm font-medium text-red-600">
                            {{ form.consent_checkbox.errors }}
                          </span>
                        </div>
                      {% endif %}
                      <div class="flex justify-between">
                        <input
                          id="{{ form.consent_checkbox.auto_id }}"
                          name="{{ form.consent_checkbox.name }}"
                          type="{{ form.consent_checkbox.widget_type }}"
                          class="focus:ring-teal-500 h-4 w-4 text-teal-600 border-gray-300 rounded-md"
                        >
                        <label
                          for="{{ form.consent_checkbox.id_for_label }}"
                          class="pl-2 block text-sm font-medium text-gray-900">
                          {{ form.consent_checkbox.label }}
                          {{ form.consent_checkbox.value }}
                        </label>
                      </div>
                    </div>
                  {% endif %}
                  {% if form.captcha %}
                    <div class="sm:col-span-2">
                      <div class="pb-4">
                        <span class="text-sm font-medium text-red-600">
                          {{ form.captcha.errors }}
                        </span>
                      </div>
                      {{ form.captcha }}
                    </div>
                  {% endif %}
                  {% if form.non_field_errors %}
                    <div class="sm:col-span-2 sm:flex sm:justify-end">
                      <p class="block text-sm font-medium text-red-600">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </p>
                    </div>
                  {% endif %}
                  <div class="sm:col-span-2 sm:flex sm:justify-end">
                    <button type="submit" class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:w-auto">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    {% endif %}



    {% for block in page.body %} {% include_block block %} {% endfor %}
  </main>
{% endblock main %}

