{% load wagtailimages_tags %}
<div class="bg-white">
  <div class="mx-auto py-4 px-4 max-w-7xl sm:px-6 lg:px-8">
    <div class="space-y-12">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl"> {{ self.title }}</h2>
        <p class="text-xl text-gray-500"> {{ self.description }}</p>
      </div>
      <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
        {% for image in self.images %}
          {% image image.image original as tmp_image %}
          <li>
            <div class="space-y-4">
              <a href="{{ tmp_image.url }}"
                data-lightbox="{{ block.id }}"
                data-title="{{ image.title }} - {{ image.description }}">
                <div class="aspect-w-3 aspect-h-2">
                  {% image image.image original class="object-cover shadow-lg rounded-lg" %}
                </div>
              </a>
              <div class="space-y-2">
                <div class="text-lg leading-6 font-medium space-y-1">
                  <h3>{{ image.title }}</h3>
                  <p class="text-gray-500">
                    {{ image.description }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
