{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
<main class="lg:relative">
  <div class="mx-auto max-w-7xl w-full pb-20 text-center lg:text-left">
    <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
        <span class="block xl:inline">
          {{ self.title }}
        </span>
        <span class="block text-teal-600 xl:inline">
          {{ self.subtitle }}
        </span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
        {{ self.description }}
      </p>
      <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
        {% if self.link_1 %}
          <div class="rounded-md shadow">
            <a href="{% pageurl self.link_1 %}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 md:py-4 md:text-lg md:px-10">
              {{ self.link_1_name }}
            </a>
          </div>
        {% endif %}
        {% if self.link_2 %}
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="{% pageurl self.link_2 %}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-teal-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
              {{ self.link_2_name }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
    {% image self.image original class="absolute inset-0 w-full h-full object-cover" %}
  </div>
</main>
