{% extends 'web/base.html' %}

{% load static %}
{% load block_tags %}
{% load thumbnail %}

{% block content %}
  {% include 'compose/slideshow.html' %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
      <div class="page-contact-wrap">
        {% for b in body_list %}
          {% include 'compose/_article_block.html' with allow_image_float=True outer_class="pure-u-1-1 article-block" image_class="pure-img thumbnail" heading_level='h1' %}
        {% endfor %}
        {% if design %}{% block_add body_create_url 'Article' %}{% endif %}
        {% for map in map_a_list %}
          <style>
            .actAsDiv { height:400px;}
          </style>
          <iframe class="actAsDiv" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{% if map.map %}{% autoescape off %}{{ map.map.url }}{% endautoescape %}{% endif %}"></iframe>
          {% if design %}<br>{% block_moderate map %}{% endif %}
        {% empty %}
          {% if design %}<br>{% block_add map_a_create_url 'Map' %}{% endif %}
        {% endfor %}
        {# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2524.970728699462!2d-3.4982629844575586!3d50.739031774410215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da38fe745a6e7%3A0xf9ffbe2b9377dc9!2sThe+Beacon+Community+Centre!5e0!3m2!1sen!2suk!4v1489566862155" width="95%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> #}
      </div>
    </div>

    <div class="pure-u-1  pure-u-md-1-2 pure-u-lg-1-2">
      <div class="page-contact-wrap">
        <div>
          <h3>Contact Form</h3>
          {% if form %}
            {% include '_form.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'compose/features.html' with feature_outer_class="pure-u-1-2 pure-u-md-1-4" %}
  <div class="pure-g">
    <div class="pure-u-1" >
      {% for b in article_bottom_list %}
        {% include 'compose/_article_block.html' with allow_image_float=True outer_class="pure-u-1-1 article-block" image_class="pure-img thumbnail" heading_level='h1' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
